<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>修改简答题</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <!--导航样式-->
    <link rel="stylesheet" href="/css/nav.css"/>
    <!--layui样式-->
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <!--导航和表单 依赖 element 模块，否则无法进行功能性操作-->
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
        layui.use('form', function () {
            var form = layui.form;
        });
    </script>
    <!--jq-->
    <script type="text/javascript" src="/js/chapter/jquery.min.js"></script>
    <!--消息提示组件-->
    <script type="text/javascript" src="/js/message/message.js"></script>
    <script type="text/javascript" src="/js/message/messageIE.js"></script>
    <link rel="stylesheet" href="/css/message.css"/>
    <!--自定义js-->
    <script type="text/javascript" src="/js/edit.js"></script>

</head>
<body>
<div class="layui-row">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a>Welcome !</a></li>
        <li style="float: right" class="layui-nav-item">
            <a href="javascript:;" th:text="${session.user.name}"></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="/personal_infomation">修改信息</a></dd>
                <dd><a href="">退出登录</a></dd>
            </dl>
        </li>
        <li style="float: right" class="layui-nav-item"><a href="/personal_infomation">个人中心</a></li>
        <li style="float: right" class="layui-nav-item"><a href="/questions">错题集</a></li>
        <li style="float: right" class="layui-nav-item layui-this"><a href="/main">课程主页</a></li>
        <li style="float: right" class="layui-nav-item"><a href="/back_system">后台系统</a></li>

    </ul>
</div>
<div class="layui-container">
    <form class="layui-form" action="">
        <!--题目-->
        <div class="layui-row" style="margin-left: 1%;margin-top: 3%;">
            <label class="layui-form-label">题目</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input"
                       th:value="${session.editSummary.title}">
            </div>
        </div>
        <!--答案-->
        <div class="layui-row" style="margin: 1%">
            <label class="layui-form-label">答案</label>
            <div class="layui-input-block">
                <input type="text" name="answer" required lay-verify="required" autocomplete="off" class="layui-input"
                       th:value="${session.editSummary.answer}">
            </div>
        </div>

        <!--关键词-->
        <div class="layui-row" style="margin: 1%">
            <label class="layui-form-label">关键词</label>
            <div class="layui-input-block">
                <input type="text" name="keyword" required lay-verify="required" autocomplete="off" class="layui-input"
                       th:value="${session.editSummary.keyword}">
            </div>
        </div>

        <!--隐藏题目id-->
        <div class="layui-row" style="display: none">
            <div class="layui-input-block">
                <input type="text" name="id" required lay-verify="required" autocomplete="off" class="layui-input"
                       th:value="${session.editSummary.id}">
            </div>
        </div>
    </form>
    <div class="layui-row" style="margin-left: 10%;margin-top: 3%">
        <button type="button" class="layui-btn" id="summary-btn">保存</button>
        <span th:if="${session.editSummary.course} == 1">
        <a th:href="@{'/jizu_summary/'+${session.backChapter}}" class="layui-btn layui-btn-primary">返回</a>
        </span>
    </div>
    <span th:if="${session.editSummary.course} == 2">
        <a th:href="@{'/shugou_summary/'+${session.backChapter}}" class="layui-btn layui-btn-primary">返回</a>
        </span>

</div>

</body>
</html>