<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>在线答题系统</title>
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <script src="js/jquery.js"></script>
    <script src="js/login.js" type="application/javascript"></script>
    <script src="js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="js/countdown.js" type="text/javascript"></script>
    <!--弹窗-->
    <link rel="stylesheet" href="css/confirm.min.css">
    <script src="js/confirm.min.js" type="text/javascript"></script>

</head>
<body>
<div class="login-banner"></div>
<div class="login-box">
    <div class="box-con tran">
        <div class="login-con f-l">
            <div class="form-group">
                <input id="name" type="text" placeholder="账号"/>
                <span id="name-msg"></span>
                <span class="error-notic">账号不正确</span>
            </div>
            <div class="form-group">
                <input id="pwd" type="password" placeholder="密码">
                <span id="pwd-msg"></span>
                <span class="error-notic">密码不正确</span>
            </div>
            <div class="form-group">
                <button class="tran pr" onclick="login()">
                    <a class="tran">登录</a>
                    <img class="loading" src="images/loading.gif" style="display:block">
                </button>
            </div>
            <div class="from-line"></div>
            <div class="form-group">
                <a href="javascript:;" class="move-signup a-tag tran blue-border">注册<i class="iconfont tran">&#xe606;</i></a>
            </div>
            <div class="form-group">
                <a href="javascript:;" class="move-reset a-tag tran">忘记密码 <i class="iconfont tran">&#xe606;</i></a>
            </div>
        </div>
        <!-- 登录 -->

        <div class="signup f-l">

            <div class="signup-email">
                <div class="form-group">
                    <input id="reg-name" type="text" placeholder="账号（至少6位）">
                    <span id="reg-name-msg"></span>
                </div>
                <div class="form-group">
                    <input id="reg-pwd" type="password" placeholder="密码（至少6位）" onchange="verify.PasswordLenght(this)">
                    <span class="error-notic">密码长度不够</span>
                    <span id="reg-pwd-msg"></span>
                </div>
                <div class="form-group">
                    <div class="signup-form">
                        <input id="reg-phone" type="text"  placeholder="手机号码" class="email-mobile" >
                        <a  class="signup-select" onclick="verify.verifyMobile(this)" style="cursor:pointer;">发送短信</a>
                    </div>
                    <span id="reg-phone-msg"></span>
                    <span class="error-notic">手机号码格式不正确</span>
                    <span class="error-message">短信发送失败</span>
                </div>
                <div class="form-group">
                    <input id="reg-code" type="text" placeholder="验证码">
                    <span id="reg-code-msg"></span>
                </div>
                <div class="form-group">
                    <button class="tran pr" onclick="reg()" style="cursor:pointer;">
                        <a  class="tran">注册</a>
                        <img class="loading" src="images/loading.gif">
                    </button>
                </div>
                <p class="view-clause">点击注册，即同意我们的 <a href="#">用户隐私条款</a></p>
            </div>

            <div class="from-line"></div>
            <div class="form-group">
                <a href="javascript:;" class="move-login a-tag tran blue-border">登录<i class="iconfont tran">&#xe606;</i></a>
            </div>
        </div>
        <!-- 注册 -->


        <div class="mimachongzhi f-l">
            <div class="form-group">
            </div>
        </div>
         <!---->

        <div class="mobile-success f-l">

            <div class="form-group">
                <div class="signup-form">
                    <input id="reset-phone" type="text" placeholder="手机号码" class="email-mobile" />
                    <a  class="signup-select" onclick="verify.verifyMobile(this)" style="cursor:pointer;">发送短信</a>
                </div>
                <span id="reset-phone-msg"></span>
                <span class="error-notic">手机号码格式不正确</span>
                <span class="error-message">短信发送失败</span>
            </div>

            <div class="form-group">
                <input id="reset-code" type="text" placeholder="验证码">
                <span id="reset-code-msg"></span>
            </div>

            <div class="form-group">
                <input id="reset-name" type="text" placeholder="新账号（至少6位）">
                <span id="reset-name-msg"></span>
            </div>

            <div class="form-group">
                <input id="reset-pwd" type="password" placeholder="新密码（至少6位）" onchange="verify.PasswordLenght(this)"/>
                <span id="reset-pwd-msg"></span>
                <span class="error-notic">密码长度不够</span>
            </div>

            <div class="form-group">
                <button class="tran pr" onclick="reset()">
                    <a class="tran">重置密码</a>
                    <img class="loading" src="images/loading.gif">
                </button>
            </div>
            <p class="view-clause">点击注册，即同意我们的 <a href="#">用户隐私条款</a></p>
            <div class="form-group">
                <a href="javascript:;" class="reset-move-login a-tag tran blue-border">登录<i class="iconfont tran">&#xe606;</i></a>
            </div>
        </div>
        <!-- 密码重置 -->
    </div>
</div>

<div style="height:80px;"></div>




</body>
</html>