<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>错题集</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <link rel="stylesheet" href="/css/nav.css"/>
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <!--layui-->
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <script>
        //导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
    <script type="text/javascript" src="/js/chapter/jquery.min.js"></script>

    <!--按钮-->
    <link rel="stylesheet" href="/css/button.css">
    <!--表格css-->
    <link rel="stylesheet" href="/css/choice.css">
    <!--提示栏-->
    <link rel="stylesheet" href="/css/cue.css">

</head>
<body>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><span>欢迎登录，</span><span th:text="${session.user.name}"></span></li>
    <li style="float: right" class="layui-nav-item">
        <a href=""><img src="/images/headimg.jpg" class="layui-nav-img">我</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/personal_infomation">修改信息</a></dd>
            <dd><a href="/logout">退出登录</a></dd>
        </dl>
    </li>
    <li style="float: right" class="layui-nav-item"><a href="/personal_infomation">个人中心</a></li>
    <li style="float: right" class="layui-nav-item layui-this"><a href="/questions">错题集</a></li>
    <li style="float: right" class="layui-nav-item"><a href="/main">课程主页</a></li>
    <li style="float: right" class="layui-nav-item" shiro:hasRole="1"><a href="/back_system">后台系统</a></li>

</ul>


<!--分页-->
<script type="text/javascript" src="/js/questions_fenye.js"></script>
<div class="layui-row">

    <div class="toast__container">
        <div class="toast__cell">
            <div class="toast toast--green">
                <div class="toast__icon">
                    <svg version="1.1" class="toast__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g><g><path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"></path>
	</g></g>
    </svg>
                </div>
                <div class="toast__content">
                    <p class="toast__type">错题集</p>
                    <p class="toast__message">这边会自动收录在线考试中的错题，可手动删除。</p>
                </div>
            </div>
        </div>
    </div>



    <table class="layui-table choice-table">
        <thead>
        <tr>
            <th style="width: 10%;text-align: center">课程</th>
            <th style="width: 7%;text-align: center">章节</th>
            <th style="width: 8%;text-align: center">类型</th>
            <th style="text-align: center">题目</th>
            <th style="width: 11%;text-align: center">做题时间</th>
            <th style="width: 9%;text-align: center">点击作答</th>
            <th style="width: 9%;text-align: center">删除</th>
        </tr>
        </thead>

        <tbody>
        <!--存放分页加载数据-->
        </tbody>

    </table>
    <div class="page"></div>
</div>

<span id="count" style="display:none"></span>


</body>
</html>