<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>数据结构章节</title>
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/nav.css"/>
    <!--layui-->
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="layui/layui.js"></script>
    <script>
        //导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>

    <link rel="stylesheet" type="text/css" href="css/chapter/style.css"/>
    <script type="text/javascript" src="js/chapter/jquery.min.js"></script>
    <!--弹出层-->
    <script src="js/pop-up.js"></script>
    <link rel="stylesheet" href="css/pop-up.css">
    <!--按钮-->
    <link rel="stylesheet" href="css/button.css">
</head>
<body style="background-color: #f8f8f8">
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><span>欢迎登录，</span><span th:text="${session.user.name}"></span></li>
    <li style="float: right" class="layui-nav-item">
        <a href=""><img src="/images/headimg.jpg" class="layui-nav-img">我</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/personal_infomation">修改信息</a></dd>
            <dd><a href="/logout">退出登录</a></dd>
        </dl>
    </li>
    <li style="float: right" class="layui-nav-item"><a href="/personal_infomation">个人中心</a></li>
    <li style="float: right" class="layui-nav-item"><a href="/questions">错题集</a></li>
    <li style="float: right" class="layui-nav-item layui-this"><a href="/main">课程主页</a></li>
    <li style="float: right" class="layui-nav-item" shiro:hasRole="1"><a href="/back_system">后台系统</a></li>

</ul>

<!--章节-->
<ul id="da-thumbs" class="da-thumbs">
    <li class="ClickMe" data-chapter="1">
        <a>
            <img src="images/chapter/1.png"/>
            <div><span>第一章<br/>
                绪论</span></div>
        </a>
    </li>
    <li class="ClickMe" data-chapter="2">
        <a>
            <img src="images/chapter/2.png"/>
            <div><span>第二章<br/>
                线性表</span></div>
        </a>
    </li>
    <li class="ClickMe" data-chapter="3">
        <a>
            <img src="images/chapter/3.png"/>
            <div><span>第三章<br/>
                栈和队列</span></div>
        </a>
    </li>
    <li class="ClickMe" data-chapter="4">
        <a>
            <img src="images/chapter/4.png"/>
            <div><span>第四章<br/>
                串、数组和广义表</span></div>
        </a>
    </li>
    <li class="ClickMe" data-chapter="5">
        <a>
            <img src="images/chapter/5.png"/>
            <div><span>第五章<br/>
                树和二叉树</span></div>
        </a>
    </li>
    <li class="ClickMe" data-chapter="6">
        <a>
            <img src="images/chapter/6.png"/>
            <div><span>第六章<br/>
                图</span></div>
        </a>
    </li>
    <li class="ClickMe" data-chapter="7">
        <a>
            <img src="images/chapter/7.png"/>
            <div><span>第七章<br/>
                查找</span></div>
        </a>
    </li>
    <li class="ClickMe" data-chapter="8">
        <a>
            <img src="images/chapter/8.png"/>
            <div><span>第八章<br/>
                排序</span></div>
        </a>
    </li>
    <li class="ClickMe" data-chapter="9">
        <a>
            <img src="images/chapter/9.png"/>
            <div><span>第九章<br/>
                并行组织与结构</span></div>
        </a>
    </li>
</ul>

<!--弹出窗-->
<div id="goodcover"></div>
<div id="code">
    <div class="close1"><a href="javascript:void(0)" id="closebt"><img src="images/close.gif"></a></div>
    <div class="goodtxt">
        <div class="buttons_new">
            <div class="container_new">
                <a class="btn effect04 shugou-choice-click" data-sm-link-text="CLICK" target="_blank"><span>选择题</span></a>
            </div>
        </div>
        <div class="buttons_new">
            <div class="container_new">
                <a href="#" class="btn effect04 shugou-summary-click" data-sm-link-text="CLICK" target="_blank"><span>简答题</span></a>
            </div>
        </div>
        <div class="buttons_new">
            <div class="container_new">
                <a href="#" class="btn effect04" data-sm-link-text="CLICK" target="_blank"><span>计算题</span></a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="js/chapter/jquery.hoverdir.js"></script>

<script type="text/javascript">
    $(function () {

        $('#da-thumbs > li').hoverdir({
            hoverDelay: 75
        });

    });
</script>


</body>
</html>