<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.course.dao.QuestionsMapper">

    <select id="selToFenye" parameterType="map" resultType="com.hs.course.domaingenerator.QuestionsGenerator">
        select *
        from questions
        where userid=#{userId}
        limit #{pageNo},#{pageSize}
    </select>
    <select id="selCount" resultType="Integer" parameterType="int">
        select count(1) from questions where userid = #{userid}
    </select>


</mapper>
