<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.course.dao.RecordAnswerMapper">

    <select id="selFenye" parameterType="map" resultType="com.hs.course.domaingenerator.RecordAnswerGenerator">
        select * from record_answer limit #{pageId},#{pageSize}
    </select>

</mapper>
