<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.course.dao.UserMapper">
    <insert id="regSaveUser" parameterType="com.hs.course.entity.User">
        insert into user(name,pwd,phone,role) values (#{name},#{pwd},#{phone},#{role})
    </insert>
    <select id="findByName" parameterType="String" resultType="com.hs.course.entity.User">
        select * from user where name=#{name}
    </select>
    <select id="findRoleByName" parameterType="String" resultType="int">
        select role from user where name = #{name}
    </select>
    <select id="findByPhone" parameterType="String" resultType="com.hs.course.entity.User">
        select * from user where phone = #{phone}
    </select>
    <update id="updateByPhone" parameterType="com.hs.course.entity.User">
        update user set name = #{name} , pwd = #{pwd} where phone = #{phone}
    </update>

</mapper>
